* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

#inp1,
#inp2 {
  height: 30px;
  width: 250px;
  font-size: 25px;
}

#index {
  height: 30px;
  width: 50px;
  font-size: 25px;
}

#btn {
  height: 35px;
  width: 80px;
  background-color: #349bb5;
  color: #fff;
}
